.logo {
  font-size: 20px;
  padding-top: 13px;
  padding-left: 0;
  color: #338BB8;
  cursor: pointer;
}

.app-icon {
  width: 24px;
  height: 24px;
  /*temporary fix, the new bootstrap css display the img in navbar as block*/
  display: inline-block !important;
}

.clicky {
  cursor: pointer;
}